* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 110px;
  transform: rotate(-10deg);
  transition: all ease-in-out 0.3s;
}

.main {
  height: 100vh;
  text-align: center;/*centra todos los div*/
  padding: 0;
}

.content {
  background-color: white;
  box-shadow: -1px -2px 37px -2px rgba(0,0,0,0.52);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;/*media*/
}

span {
  padding-top: 0.5rem;
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
}

.red_logo {
  width: 48px;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}

.list {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}
.list a {
  text-decoration: none;
  color: black;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 8px;
  border: 3px solid black;
  border-radius: 8px;
  transition: all ease-in-out 0.2s;
}

.redes p {
  width: 80%;
  padding-top: 12px;
  font-family: 'Source Sans Pro', sans-serif;  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.ropa {
  animation: 0.3s all ease-in-out;
}


.map {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

.float{
  width: 100%;
  min-height: 100px;
  position: sticky;
  bottom: 0px;
  background: linear-gradient(0deg, rgba(101, 95, 95, 0.623) 0%, rgba(255, 255, 255, 0) 100%);
  margin-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.flecha img{
  width: 60px;
  margin-bottom: 20px;
}
.content p{
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.emp{
  width: 50%;
  max-height: 40px;
  background-color: rgb(41, 41, 41);
  color: white;
  border-radius: 20px;
  padding-top: 5px;
}

.dev{
  width: 100%;
  max-height: 30px;
  background-color: rgb(156, 31, 31);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 5px;
  font-size: 14px;
  padding-top: 4px;
}
/* hover efect */

.emp:hover{
  cursor: pointer;
}

.redes:hover{
  transform: translateY(5px);
  color: white;
  background-color: black;
  cursor: pointer;
}

.redes:hover .ropa{
    border-radius: 50%;
    background-color: rgb(252, 255, 48);
}

.redes:hover .red_logo{
  transform: translateX(10px);
}

/* animaciones */

.spinner {
  animation: spin 1s linear infinite alternate;
}

@keyframes spin {
  to {
     transform: rotate(10deg);/*you can use 1turn*/
  }
}

.ultra{
  animation: quma 3s infinite linear alternate;
}

@keyframes quma {
  to {
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
  }
}

/*media queries*/
@media screen and (min-width: 576px) {
  .main {
    /* background-color: rgb(240, 81, 81); */
    padding: 0 20%;
  }
}

@media screen and (min-width: 576px) and (max-width: 800px){
  .main {
    /* background-color: rgb(99, 240, 81); */
    padding: 0 15%;
  }
}

.container-dev{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

